{% load staticfiles %}
{% csrf_token %}
<html>
<head>
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script language="javascript" src="{% static 'js/main.js'%}"></script >
<script type="text/javascript">
$(document).ready(function(){
    dt = new Date();
        document.getElementById('loading').innerHTML = "Rooming Status as of "+dt.toLocaleTimeString()+":";
});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40509220-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;">
  <h1>Admin Rooming Page!</h1>
  <p><a href="/rooming/entry">Return</a> to the visual room entry page. Note that double constraints are not confirmed below:</p><br />
<h3 id='loading'>Loading...</h3>
{% for room in all_rooms %}
   Room {{room.number}} ({{room.type}}{% if room.grt_section.section_name != "None" %} in GRT {{room.grt_section.section_name}}{% endif %})</b> <a href="#"><span id='{{room.number}}' onclick='sendreq("{{room.number}}")'>Add</span></a> <br>
  {% for resident in room.resident_set.all %}
&nbsp;&nbsp;&nbsp; <a href="#"><span onclick='removeresident("{{resident.athena}}")'>Remove</span></a> {{resident.athena}}<br/>
  {% endfor %}
<br>
{% endfor %}
</body>
</html>
